
/* #region reset */


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* #endregion reset */


/* #region color palette */

:root{
    --bool-lighter: rgba(255, 255, 255, 1);
    --bool-jumbo: rgba(245, 247, 254, 1);
    --bool-light: rgba(235, 239, 253, 1);
    --bool-darker: black;
    --bool-title: rgba(11, 11, 204, 1);
    --bool-btn-light: rgba(53, 53, 236, 1);
    --bool-btn-dark: rgba(0, 22, 50, 1);
    --bool-banner: rgba(106, 121, 255, 1);
    --bool-footer: rgba(19, 42, 71, 1);

}

/* #endregion color palette */


/* #region debug */

.debug *{
    border: 1px solid black;
}



/* #endregion debug */



/* #region common rules */

body{
    font-family: 'Open Sans', sans-serif;
}

.list-inline{
    list-style: none;
    gap: 1.5rem;
    align-items: center;
}

.container{
    width: 100%;
    padding: 0 0.75rem;
    max-width: 576px;
    margin: auto;
    display: flex;
}

[class^="col-"]{
    padding: 1rem;
}


/* #region utility */

.d-flex{
    display: flex;
}

.col-12{
    width: 100%;
}

.col-8{
    width: calc((100% / 12) * 8);
}

.col-6{
    width: 50%;
}

.col-4{
    width: calc((100% / 12) * 4);
}



/* #region header */

#site_header{
    background-color: var(--bool-lighter);
}

#navbar{
    width: 95%;
    margin: auto;
    justify-content: space-between;
    align-items: center;

    & .nav-center{
        display: none;
    }
}


/* #region jumbo */

#jumbotron{


    & .container{
        flex-direction: column;
    }
}

.top-jumbo{
    width: 100%;
    flex-wrap: wrap;
}

.bottom-jumbo{
    width: 100%;
    flex-wrap: wrap;
}




/* #region media query */

/* 576-940 */

@media screen and (min-width: 576px) {

    
}


/* 940+ */

@media screen and (min-width: 940px) {
    
    .container{
        max-width: 940px;
    }

    #navbar{
        width: 90%;

        & .nav-center{
            display: flex;
        }

        & .nav-right > i{
            display: none;
        }
    }


    .col-lg-8{
        width: calc((100% / 12) * 8);
    }

    .col-lg-4{
        width: calc((100% / 12) * 4);
    }

    .top-jumbo{
        flex-direction: row-reverse;
    }

    .bottom-jumbo{
        justify-content: space-between;
    }

}